/* css styles */


$h2-font-size:  1.9rem ;
$headings-font-weight: 500;

/* Set the font family */
$font-family-sans-serif: sans-serif;

/* Increase navbar font size */
.navbar-nav .nav-link {
  font-size: 0.8rem;
 
}

.navbar-collapse {
  width: 100vh;
}
/* Increase navbar brand font size */
.navbar-brand {
  font-size: 1.7rem;
}

/* Adjust navbar width */
.navbar {
    max-width: 2000px; /* adjust this value to your liking */
    margin: 0 auto; /* center the navbar */
    height: 70px; 
    
}

.n

body {
  font-size: 58px;
}
